{% extends "account/base.html" %}
{%  load form_tags %}

{% load i18n %}
{% block title %}
    {% trans "Change Password" %}
{% endblock title %}

{% block content %}
    <div class="d-flex justify-content-center">
        <div class="text-center">
            <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

            {% if token_fail %}
                {% url 'account_reset_password' as passwd_reset_url %}
                <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.
                    Please
                    request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
            {% else %}
                <form method="POST" action="{{ action_url }}">
                    {% csrf_token %}
                    {{ form.password1|add_classes:'form-control mt-4' }}
                    {{ form.password2|add_classes:'form-control mt-4' }}
                    <button type="submit" name="action"
                            class="btn btn-primary mt-3 w-100">{% trans 'Change Password' %}</button>
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}
