{% extends "account/base.html" %}

{% load i18n %}
{% block title %}
    {% trans "Change Password" %}
{% endblock %}

{% block content %}

    <div class="text-center">
        <h1>{% trans "Change Password" %}</h1>
        <p>{% trans 'Your password is now changed.' %}</p>
    </div>
    {#    <div class="d-flex justify-content-center">#}
    {#        <a class="btn btn-primary mt-3 w-50" href="{% url 'pages:dashboard' %}">{% trans "Go to your profile" %}</a>#}
    {#    </div>#}
{% endblock %}
