{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
{#    <div class="">#}
{#        <h1>{% trans "Change Password" %}</h1>#}
{#        #}
{#        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">#}
{#            {% csrf_token %}#}
            {#        {{ form.as_p }}#}
{#            <div class="m-2">Current password:</div>#}
{#            {{ form.oldpassword }}#}
{#            <div class="m-2">New Password:</div>#}
{#            {{ form.password1 }}#}
{#            <div class="m-2">New Password (again):</div>#}
{#            {{ form.password2 }}#}
{#            <button type="submit" name="action" class="btn btn-primary m-3">{% trans "Change Password" %}</button>#}
{#            <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>#}
{#        </form>#}
{#    </div>#}
{#    #}
    <div class="d-flex justify-content-center">
        <h3>Change Password</h3>
    </div>
    <div class="d-flex justify-content-center">
        <form method="post" class="form-stretch" action="{% url 'account_change_password' %}">
            {% csrf_token %}
            <input type="password" name="oldpassword" placeholder="Current password" class="form-control mt-4"
                   autocomplete="current-password">
            <input type="password" name="password1" placeholder="New password" class="form-control mt-4"
                   autocomplete="new-password">
            <input type="password" name="password2" placeholder="New password (again)" class="form-control mt-4">
            <div class="d-flex align-items-center justify-content-center">
                <button type="submit" class="btn btn-primary mt-3 w-100">Change Password</button>
            </div>
            <div class="d-flex align-items-center justify-content-center mt-3">
                <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            </div>
        </form>
    </div>

{% endblock %}
